<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-xs-12">
<!--    <div *ngIf="error" class="alert alert-danger">-->
<!--       <p>{{error}}</p>-->
<!--    </div>-->
<!--    <app-alert [message]="error" (close)="onErrorHandler()" *ngIf="error"></app-alert>-->
    <div *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text"
               class="form-control"
               id="email"
               name="email"
               ngModel
               required
               email
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               name="password"
               ngModel
               required
               minlength="6"
        >
      </div>
      <div>
        <button [disabled]="!f.valid" class="btn btn-primary" type="submit">{{isLoginMode?'Login':'Sign Up'}}</button>&nbsp;
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch to {{isLoginMode?'Sign Up':'Login'}}
        </button>
      </div>
    </form>
  </div>
</div>
